.new-ticket-modal {
	line-height: 2em;
	word-wrap: wrap;

	.error-msg {
		color: rgb(199, 28, 28);
	}

	.title {
		color: rgb(38, 2, 108);
		font-size: 1.2em;
		font-weight: 500;
	}

	hr {
		border-top: 1px solid rgb(224, 225, 232);
	}

	.form-container {
		.providers-container {
			display: flex;
			align-items: center;
			gap: 1em;

			.provider {
				display: inherit;
				align-items: center;
				gap: 1em;

				input[type='radio'] {
					scale: 1.5;
				}

				span {
					display: inherit;
					scale: 1.2;
				}
			}
		}

		.info-container {
			display: flex;
			margin-top: 1em;
			gap: 1em;

			label {
				flex-grow: 1;
			}
			.subtitle {
				color: var(--primary-color);
			}

			.content {
				font-size: 0.8em;
				color: var(--primary-color);

				.user-list {
					margin: 0;
				}
			}
		}

		.details-container {
			input[type='text'],
			textarea {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;

				&:focus {
					outline: 2px solid var(--secondary-color);
				}
			}

			textarea {
				max-height: 12em;
				min-height: 6em;
				max-width: 90em;
				min-width: 39em;
			}
		}

		.input-text {
			color: rgb(38, 2, 108);
			font-weight: 500;
		}

		.footer {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.5em 1em;
			font-size: 0.7em;

			button {
				border: 1px solid black;
				border-radius: 56px;
				outline: none;
				user-select: none;
				cursor: pointer;
				background-color: transparent;
				padding: 0em 1.5em;
			}

			.submit-button {
				margin-left: 1em;
				background-color: var(--secondary-color);
				border: none;
				color: rgb(255, 255, 255);

				&:disabled {
					opacity: 0.6;
				}
			}
		}
	}
}
